@font-face {
  font-family: Manrope;
  src: url(/Manrope-VariableFont_wght.ttf);
}

:root {
  --Soft-Cyan: hsl(174, 77%, 80%);
  --Strong-Cyan: hsl(174, 86%, 45%);
  --Light-Grayish-Red: hsl(14, 92%, 95%);
  --Light-Red: hsl(15, 100%, 70%);
  --Pale-Blue: hsl(226, 100%, 87%);

  --White: hsl(0, 0%, 100%);
  --Very-Pale-Blue: hsl(230, 100%, 99%);
  --Light-Grayish-Blue: hsl(224, 65%, 95%);
  --Light-Grayish-Blue-Toggle: hsl(223, 50%, 87%);
  --Grayish-Blue: hsl(225, 20%, 60%);
  --Dark-Desaturated-Blue: hsl(227, 35%, 25%);

  --Slider-Position: 50%;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: Manrope, serif;
  font-size: 1.5rem;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  min-height: 100dvh;
  background-image: url(/images/bg-pattern.svg);
  background-position: top;
  background-repeat: no-repeat;
  background-size: 100% 50%;
  background-color: var(--Very-Pale-Blue);
}

header {
  width: 100%;
  max-width: 39.5rem;
  padding: 3.7rem 0;

  background-image: url(/images/pattern-circles.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;

  text-align: center;
  margin-bottom: 5.4rem;
}

h1 {
  font-size: 2.8rem;
  font-weight: 800;
  color: var(--Dark-Desaturated-Blue);
  margin-bottom: 1.2rem;
}

p {
  font-size: 1.5rem;
  font-weight: 600;
  color: var(--Grayish-Blue);
}

header br {
  display: contents;
}

main {
  width: 100%;
  max-width: 54rem;
  background-color: var(--White);
  border-radius: 0.8rem;
  box-shadow: 0 2rem 3rem -0.5rem hsl(230, 29%, 61%, 15.21%);
}

.prizing__header {
  display: grid;
  grid-template-columns: 1fr, 1fr;
  gap: 4rem;
  justify-content: space-between;
  align-items: center;
  margin: 4rem 4.8rem;
}

.prizing__pageviews {
  grid-column: 1/2;
  font-size: 1.4rem;
  font-weight: 800;
  letter-spacing: 0.2rem;
  text-transform: uppercase;
  color: var(--Grayish-Blue);
}

.prizing__prize {
  grid-column: 2/3;
  display: flex;
  align-items: center;
  gap: 0.8rem;
}

.prizing__value {
  font-size: 4rem;
  font-weight: 800;
  color: var(--Dark-Desaturated-Blue);
  letter-spacing: -0.1rem;
}

.prizing__month {
  font-size: 1.6rem;
  font-weight: 400;
  color: var(--Grayish-Blue);
}

.prizing__slider {
  grid-column: 1/3;
  height: 0.8rem;
  background-image: linear-gradient(
    90deg,
    var(--Soft-Cyan) var(--Slider-Position),
    var(--Light-Grayish-Blue) var(--Slider-Position)
  );
  border-radius: 0.5rem;
  margin-bottom: .9rem;
  position: relative;
}

.prizing__slider::before {
  content: "";
  display: block;
  width: 4rem;
  height: 4rem;
  border-radius: 4rem;
  background-color: var(--Strong-Cyan);
  background-image: url(/images/icon-slider.svg);
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
  top: 50%;
  left: var(--Slider-Position);
  transform: translate(-50%, -50%);
  cursor: pointer;
  box-shadow: 0 1.5rem 3rem 0 hsla(174, 50%, 60%);
}

.prizing__footer {
  display: flex;
  justify-content: flex-end;
  gap: 0.9rem;
  margin-bottom: 4rem;
  margin-right: 6.5rem;
}

.switch {
  display: flex;
  align-items: center;
  gap: 1.6rem;
}

.switch__label {
  font-size: 1.2rem;
  font-weight: 400;
  color: var(--Grayish-Blue);
}

.switch__component {
  width: 4.3rem;
  height: 2.2rem;
  border-radius: 2.2rem;
  position: relative;
  cursor: pointer;
  transition: all 0.2s ease;
}

.switch__component::before {
  content: "";
  display: block;
  width: 1.4rem;
  height: 1.4rem;
  background-color: var(--White);
  border-radius: 1.4rem;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.switch__component--off {
  background-color: var(--Light-Grayish-Blue-Toggle);
}

.switch__component--off::before {
  left: 0.4rem;
}

.switch__component--on {
  background-color: var(--Strong-Cyan);
}

.switch__component--on::before {
  right: 0.4rem;
}

.switch__component:hover {
  background-color: var(--Soft-Cyan);
}

.badge {
  background-color: var(--Light-Grayish-Red);
  color: var(--Light-Red);
  padding: 0.2rem 0.6rem;
  font-size: 1rem;
  font-weight: 800;
  border-radius: 1.4rem;
  display: flex;
  align-items: center;
}

.start {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 3.2rem 4.8rem;
  border-top: 0.1rem solid var(--Light-Grayish-Blue);
}

.start ul {
  list-style: none;
}

.start li {
  font-size: 1.2rem;
  font-weight: 400;
  color: var(--Grayish-Blue);
  padding-left: 2.3rem;
  position: relative;
}

.start li:not(:last-child) {
  margin-bottom: 1rem;
}

.start li::before {
  content: url(/images/icon-check.svg);
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
}

.start button {
  width: 17rem;
  height: 4.1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  background-color: var(--Dark-Desaturated-Blue);
  color: var(--Pale-Blue);
  font-size: 1.2rem;
  font-weight: 600;
  border-radius: 4.1rem;
  cursor: pointer;
  transition: all 0.2rem ease;
}

.start button:hover {
  color: var(--White);
}

.badge--mobile {
  display: none;
}

@media (max-width: 580px) {

  body {
    padding: 5.7rem 2.4rem 8.8rem 2.4rem;
  }

  header { 
    padding: 3.2rem 0;
    margin-bottom: 3.2rem;
  }

  h1 {
    font-size: 2rem;
    margin-bottom: .8rem;
  }

  p {
    font-size: 1.3rem;
    line-height: 2.3rem;
  }

  header br {
    display: initial;
  }

  .prizing__header {
    grid-template-columns: 1fr;
    text-align: center;
    margin: 3.4rem 2.4rem 3.2rem 2.4rem;
  }

  .prizing__prize {
    grid-column: 1/2;
    grid-row: 3/4;
    justify-content: center;
  }

  .prizing__slider {
    grid-column: 1/2;
  }

  .prizing__footer {
    margin-right: 1.1rem;
  }

  .start {
    flex-direction: column;
    gap: 3.2rem;
    padding-top: 2.4rem;
  }

  .badge {
    display: none;
  }

  .badge--mobile {
    display: flex;
  }
}

@media (max-width: 390px) {
  html {
    font-size: 55%;
  }
}

@media (max-width: 340px) {
  html {
    font-size: 45%;
  }
}

@media (max-width: 280px) {
  html {
    font-size: 35%;
  }
}